{# je crée un fichier partiel form car comme ça je l'utilise plusieur pour add et edit par exemple, je fais un un include pour l'intégrer ou je souhaite #}
{# j'ulise la function twig form poour pouvoir faire afficher le form #}
{{form_start(productForm)}}
{{form_row(productForm.name)}}
{{form_row(productForm.description)}}
{{form_row(productForm.price)}}
{{form_row(productForm.stock)}}
{{form_row(productForm.categories)}}


{# on affiche les images si on est en édition #}
{# bug method get a changer #}
	{% if app.request.attributes.get('_route')== 'admin_products_edit'%}
		{% for image in product.images %}
			<div>
			<img src="{{ asset('assets/uploads/products/mini/300x300-' ~ image.name ) }}" alt="Image" width="150"> <a href="{{ path('admin_products_delete_image', {id: image.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ image.id) }}">Supprimer</a>
			{# génère un token de sécurite pour m'assur que le form est bien valide #}
		</div>
	{% endfor %}
{% endif %}
{{form_row(productForm.images)}}
<button class="btn btn-primary" type="submit">
	{{button_label|default('Ajouter')}}</button>
{# comme on se sert de la mm page pour edit et add on doit mettre une var pour le btn #}
{{form_end(productForm)}}

{# pour rajouter des classes boostrap il faut aller dans le fichier twig.yml dans config>packages et rajouter: form_themes:['boostrap_5_layout.hmtl.twig'] #}
{# avec form_row on a l'input et le label alors que form_widget on a seulement l'input #}
