{% extends "base.html.twig" %}

{% block title %}Administration
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			{% include "_partials/_adminnav.html.twig" %}
			<main class="col-9 boder border-light bg-withe p-2">
				<h1>Commandes</h1>
				<table class="table">
					<thead>
						{# <pre>
																																																																																																	{{ dump(commandes) }}
																																																																																																						</pre> #}
						<tr>
							<th>ID</th>
							<th class="text-center">Référence</th>
							<th class="text-center">Utilisateur</th>
							<th class="text-center">Date</th>
							<th class="text-center">Détails de la commande</th>
						</tr>
					</thead>
					<tbody>
						{% for commande in commandes %}

							<tr>
								<td class="text-center">{{commande.id}}</td>
								<td class="text-center">{{commande.reference}}</td>
								<td class="text-center">{{commande.users.email}}</td>

								<td class="text-center">{{commande.createdAt|date('d/m/y')}}</td>
								<td class="text-center">
									<button type="button" class="btn btn-lin " data-bs-toggle="modal" data-bs-target="#orderModal{{ commande.id }}">
										<i class="fas fa-info-circle"></i>
										<!-- Remplacez par votre icône -->
									</button>
								</td>
							</tr>

							<!-- Modale pour les détails de la commande -->
							<div class="modal fade" id="orderModal{{ commande.id }}" tabindex="-1" aria-labelledby="orderModalLabel{{ commande.id }}" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="orderModalLabel{{ commande.id }}">Détails de la commande
												{{ commande.reference }}</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body text-center">
											<ul class="list-group list-unstyled mb-2">
												{% for detail in commande.ordersDetails %}
													<li class="list-group-item">
														- Produit:
														{{ detail.products.name }}</li>
													<li class="list-group-item">- Quantité:
														{{ detail.quantity }}</li>
													<li class="list-group-item">- Prix:
														{{ detail.price }}
														€</li>

												{% endfor %}
											</ul>
										</div>
										<div class=" modal-footer">
											<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
										</li>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</tbody>
			</table>
		</tbody>
	</main>
</div></div>{% endblock %}
